@import url('./variables.css');
@import url('./fonts.css');
@import url('./animations.css');

html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #fff;
  /* background: #FFF; */
  font-family: var(--font);
  font-size: 16px;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: linear-gradient(90deg, var(--color-bg) var(--dot-size), transparent 1%) center, linear-gradient(var(--color-bg) var(--dot-size), transparent 1%) center, var(--color-primary);
  background-size: var(--dot-space) var(--dot-space);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-weight: normal;
  outline: none;
}

.container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
}

p {
  line-height: 1.4;
  color: var(--color-primary);
}

a {
  color: var(--color-primary);
  text-decoration: none;
}